Dear ${client.firstName}, 
<p>
Your password has been reset. Your new password is
<blockquote>
	<b>${newPassword}</b>
</blockquote>

Please change the password as soon as possible.
</p>

Thank you.